arrow~=1.2.3
cachetools~=5.3.1
httpx~=0.24.1
loguru~=0.7.0
lxml~=4.9.3
PicImageSearch~=3.9.4
Pillow~=10.0.0
pydantic[dotenv]~=2.0.3
pydantic-settings~=2.0.2
pyquery~=2.0.0
python-socks[asyncio]~=2.3.0;extra == "socks"
socksio~=1.0.0;extra == "socks"
Telethon~=1.28.5
tenacity~=8.2.2