arrow~=1.2.3
cachetools~=5.3.0
httpx~=0.23.3
loguru~=0.6.0
lxml~=4.9.2
PicImageSearch~=3.9.0
pydantic[dotenv]~=1.10.7
pyquery~=2.0.0
python-socks[asyncio]~=2.2.0;extra == "socks"
socksio~=1.0.0;extra == "socks"
Telethon~=1.27.0
tenacity~=8.2.2